.Notes {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.Notes__title {
  font-weight: 900;
  font-size: 4rem;
}

.Notes__amount {
  /* vertical-align: text-top; */
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 400;
}

.Notes__wrapper {
  display: flex;
  flex-wrap: wrap;
}
